body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f3f0f5;
  color: #4c275f;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  max-width: 790px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4c275f;
  margin-bottom: 20px;
  text-align: center;
}

#calendar {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.btn-primary, .btn-success {
  background: #7a295c;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary:hover, .btn-success:hover {
  background-color: #ab3e83;
  transform: translateY(-3px);
}
.fc-toolbar-chunk .fc-button {
background: #7a295c;
border: none;
color: white;
padding: 10px;
border-radius: 5px;
font-weight: bold;
text-transform: uppercase;
transition: all 0.3s ease;
}

.fc-toolbar-chunk .fc-button:hover {
  background-color: #ab3e83;
transform: scale(1.05);
}

.fc-daygrid-day.has-event {
background: linear-gradient(135deg, #7a295c, #f3f0f5);
border-radius: 5px;
}

.fc-daygrid-day.has-event:hover {
cursor: pointer;
transform: scale(1.03);
}


#eventPopup {
animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
from {
opacity: 0;
transform: translate(-50%, -60%);
}
to {
opacity: 1;
transform: translate(-50%, -50%);
}
}

