body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f0f5;
  color: #2a1a29;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 1.8rem;
  color: #4c275f;
  margin: 0;
}

h1{
  font-size: 1.8rem;
  color: #4c275f;
  margin: 0;
}

.header .btn {
  background-color: #7a295c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.header .btn:hover {
  background-color: #973471;
}

.decline-btn {
  background-color: #dc3545;
  border: #dc3545;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

.decline-btn:hover {
  background-color: #c82333;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card-header {
  font-size: 1.5rem;
  color: #4c275f;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card-header i {
  margin-right: 10px;
  color: #7a295c;
}

.card-body .btn{
  background-color: #7a295c;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

.card-body .btn:hover {
  background-color: #973471;
}

.btn-primary{
  background-color: #7a295c;
  border: #7a295c;
}
.btn-primary:hover{
  background-color: #973471;
}
.dashboard-stats {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.dashboard-stats h2 {
  font-size: 1.8rem;
  color: #4c275f;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  flex-direction: column; /* Poredaj elemente vertikalno */
  gap: 20px; /* Razmak između grafikona */
}

.chart-box {
  width: 100%; /* Grafikon zauzima cijelu širinu */
  max-height: 700px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.chart-box h3 {
  font-size: 1.2rem;
  color: #4c275f;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .chart-box {
    width: 100%;
  }
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header h1 {
    margin-bottom: 15px;
  }

  .row {
    flex-direction: column;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .card-header {
    font-size: 1.2rem;
  }

  .card-body .btn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}